<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Background job | Flask Redis Quickstart</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./static/main.css">
  </head>
  <body>
    <div id="cardList">
      <h1>Background job</h1>
      <div class="card-container">
        <div class="card">
            <h3>Create new background job</h3>
            <form>
              <label>Value</label>
              <input type="text" name="value">
            </form>
            <button onclick="writeJob()" id="write-button" class="button">Create</button>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="./static/main.js"></script>
  </body>
</html>
